/* http://www.colorcombos.com/color-schemes/237/ColorCombo237.html */

html {
    overflow-y: scroll;
}

.container {
    width: auto;
    max-width: 1025px;
    padding: 0 15px;
}

.form-signup, .form-signin {
    width: 400px;
    margin: 0 auto;
}

.input-block-level {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#maincontainer {
    min-height: 600px;
    margin-top: 70px;
}

.navbar {
    margin-bottom: 0px;
    background: #F7F6F4;
    border: none;
    border-bottom: 1px solid #B4A28F;
  border-top: 3px solid #7C7062;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #fafafa;
}

.navbar-inverse{
    background: #333;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
    color: #eee;
}

ul.nav-tabs a {
  border-color: #ddd;
  background-color: #fafafa;
}
